
.title_our_procedure{
    padding-bottom: 48px; 
 }
 
 .section_procedure{
     display: flex;
     flex-direction: column;
     gap: 48px;
     margin-bottom: 96px;
 }
 
 .procedure_articles{
     display: flex;
     justify-content: center;
     gap: 16px;
 }
 
 .articles_items{
     position: relative;
     display: flex;
     justify-content: center;
     align-items: end;
     width: 344px;
     height: 456px;
     border-radius: 4px 120px;
     background: linear-gradient(180deg, rgba(1, 28, 68, 0.00) 48.53%, rgba(1, 28, 68, 0.73) 84.61%, #011C44 101.39%);
     background-size: cover;
     background-position: center;
 }
 
 .article_image{
     position: absolute;
     z-index: -1;
 }
 
 .articles_items:hover{
     transform: scale(1.05);
     transition: all 0.3s ease;
 }
 
 .article_text{
     padding-bottom: 32px;
     color: var(--color-primary-light);
     font-size: 22px;
 }
 
 
 .carousel_arrow{
    padding: 0;
    margin: 0;
 }
 
 .procedure_dots{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 24px;
 }
 
 .dot{
     width: 11px;
     height: 11px;
     border-radius: 100%;
     background-color:  #747272;
     cursor: pointer;
 }
 
 .dot:hover{
     background-color: var(--color-brand-light);
 }
 