
.background_why{
    background-image: url(images/background_procedure.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    max-height: 1785px;
}

.section_why{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    margin-bottom: 300px;
    padding-top: 200px;
    max-width: 1100px;
    height: 377px;
   
}

.section_why_articles{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section_why_items{ 
    background-color: #FFFFFF;
    width: 316px;
    height: 181px;
    padding: 24px 32px 24px 32px;
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px #A8C6F561;
}

.icon_why_items{
    width: 48px;
    height: 48px;
    fill: var(--color-brand-light); 
}
